<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="row">


        <div class="col">
            <div class="card" style="width: 25rem;">
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h2 class="card-title">Leyes de Newton.</h2>
                    <p class="card-text">Cuestionario sobre las </p>
                    <a [routerLink]="['/leyesNewton']" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 25rem;">
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h2 class="card-title">Leyes de Coulomb</h2>
                    <p class="card-text">Cuestionario sobre Las leyes de Coulomb.</p>
                    <a [routerLink]="['/leyeCoulomb']" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 25rem;">
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h2 class="card-title">Gauss y capacitancia.</h2>
                    <p class="card-text">Cuestionario Sobre la Ley de Gauss y capacitancia.</p>
                    <a [routerLink]="['/capacitancia']" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

    </div>





</div>