<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="row">


        <div class="col">
            <div class="card" style="width: 25rem;">
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h1 class="card-title">Leyes de Newton</h1>
                    <p class="card-text">Documentacion sobre leyes de Newton.</p>
                    <a [routerLink]="['/infoNewton']" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 25rem;">
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h1 class="card-title">Ley de Coulomb</h1>
                    <p class="card-text">Documentacion sobre la ley de Coulomb.</p>
                    <a [routerLink]="['/infoCoulomb']" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 25rem;">
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h1 class="card-title">Capacitancia</h1>
                    <p class="card-text">Documentacion sobre la capacitancia.</p>
                    <a [routerLink]="['/infoCapacitancia']" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>

    </div>
    <br/>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 25rem;">
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h1 class="card-title">Campo y Potencial Eléctrico </h1>
                    <p class="card-text">Documentacion sobre el campo electrico</p>
                    <a [routerLink]="['/infoCampoElectrico']" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>





</div>