<div class="container">
    <h1 class="infoTitulo">Capacitancia</h1>

    <h5 style="color: white;">
        La capacitancia es una propiedad de los condensadores que se define como la capacidad de almacenar carga eléctrica. Los condensadores están compuestos por dos conductores (placas) separados por un dieléctrico (material aislante), y la carga se almacena
        en las placas.
    </h5>

    <br/>


    <p style="color:white;">
        La capacitancia se mide en Faradios (F) y se calcula mediante la siguiente fórmula: C = Q/V
    </p>
    <p style="color:white;">
        La capacitancia depende de la geometría del condensador (área de las placas, distancia entre ellas y la constante dieléctrica del material entre las placas) y se puede aumentar aumentando el área de las placas, disminuyendo la distancia entre ellas o
        utilizando un material dieléctrico con una constante dieléctrica alta.
    </p>
    <p style="color:white;">
        El tiempo que tarda un condensador en cargarse o descargarse depende de su capacitancia y de la resistencia eléctrica que lo rodea. La constante de tiempo de un circuito RC (resistencia y capacitancia) se calcula mediante la siguiente fórmula: <strong>τ = RC </strong>
    </p>
    <br/>


    <div>
        <h4 style="color:white;">
            <strong>Preguntas</strong>
        </h4>
    </div>

    <div>
        <strong style="color:white;">¿Qué es la capacitancia? </strong>
        <p style="color:white;">
            La capacitancia es la propiedad de un objeto para almacenar carga eléctrica. Los objetos que pueden almacenar carga eléctrica se llaman capacitores o condensadores.
        </p>

        <strong style="color:white;">¿Qué son los condensadores?</strong>
        <p style="color:white;"> Un condensador es un dispositivo que está diseñado para almacenar carga eléctrica. Se compone de dos placas conductoras que están separadas por un material dieléctrico (un material no conductor). La carga eléctrica se acumula en las placas del
            condensador, lo que crea un campo eléctrico entre ellas.
        </p>

        <strong style="color:white;">¿Cómo se mide la capacitancia? </strong>
        <p style="color:white;">
            La capacitancia se mide en Faradios (F). La capacitancia de un condensador depende de su geometría y de las propiedades eléctricas de los materiales utilizados en su construcción.
        </p>

        <strong style="color:white;">¿Cómo se calcula la capacitancia? </strong>
        <p style="color:white;">
            La capacitancia se puede calcular mediante la siguiente fórmula: <strong> C = Q/V </strong>
        </p>

        <strong style="color:white;">¿Cómo se carga un condensador? </strong>
        <p style="color:white;">
            Para cargar un condensador, se aplica una diferencia de potencial (voltaje) entre las placas del condensador. Esto crea un campo eléctrico en el dieléctrico que separa las placas, lo que hace que se acumule carga eléctrica en las placas. El proceso de
            carga puede ser instantáneo o tomar un tiempo determinado, dependiendo de la resistencia eléctrica que rodea al condensador.
        </p>

        <strong style="color:white;">¿Cómo se descarga un condensador? </strong>
        <p style="color:white;">
            Para descargar un condensador, se conecta una resistencia entre las placas del condensador para permitir que fluya una corriente eléctrica y se libere la carga almacenada en las placas. La corriente eléctrica fluirá desde la placa cargada positivamente
            hacia la placa cargada negativamente, hasta que el condensador se descargue por completo.
        </p>

        <strong style="color:white;">¿Cómo se utilizan los condensadores en la electrónica?  </strong>
        <p style="color:white;">
            Los condensadores tienen muchas aplicaciones en la electrónica, como en circuitos de filtrado, temporizadores, osciladores, acoplamiento de señales, entre otros. En circuitos de alimentación, los condensadores se utilizan para suavizar la tensión de alimentación
            y reducir el ruido eléctrico.
        </p>
    </div>

</div>