<div class="container">
    <h1 class="infoTitulo"> Leyes de Newton</h1>

    <h5 style="color: white;">
        Las tres leyes de Newton, también conocidas como las leyes del movimiento, son las siguientes
    </h5>

    <br/>
    <ul>
        <li style="color:white;">
            Ley de la inercia: Un objeto en reposo permanecerá en reposo y un objeto en movimiento continuará moviéndose con velocidad constante en línea recta, a menos que una fuerza neta actúe sobre él. Matemáticamente se puede expresar como F = ma, donde F es
            la fuerza neta aplicada, m es la masa del objeto y a es su aceleración.
        </li>
        <br/>
        <li style="color:white;">
            Ley de la fuerza: La fuerza neta aplicada a un objeto es igual a la tasa de cambio de su momento lineal, es decir, la masa del objeto multiplicada por su velocidad. Matemáticamente se puede expresar como F = dp/dt, donde F es la fuerza neta aplicada y
            dp/dt es la tasa de cambio del momento lineal.
        </li>
        <br/>
        <li style="color:white;">
            Ley de acción y reacción: Para cada acción, hay una reacción igual y opuesta. Esto significa que si un objeto ejerce una fuerza sobre otro objeto, el segundo objeto ejerce una fuerza de igual magnitud y dirección opuesta sobre el primer objeto. Matemáticamente
            se puede expresar como F1 = -F2, donde F1 es la fuerza ejercida por el primer objeto sobre el segundo objeto, y F2 es la fuerza ejercida por el segundo objeto sobre el primer objeto.
        </li>
        <br/>
    </ul>

    <div>
        <strong style="color:white;">¿Por qué un objeto que está en movimiento sigue moviéndose a menos que una fuerza actúe sobre él? </strong>
        <p style="color:white;">Un objeto que está en movimiento seguirá moviéndose a menos que una fuerza neta actúe sobre él debido a la primera ley de Newton, también conocida como la ley de la inercia. </p>
    </div>

    <div>
        <strong style="color:white;">Si un automóvil se mueve a una velocidad constante y luego se aplica el freno, ¿qué sucede según la primera ley de Newton? </strong>
        <p style="color:white;">Según la primera ley de Newton, un objeto en movimiento seguirá moviéndose a velocidad constante en línea recta, a menos que una fuerza neta actúe sobre él. Cuando se aplica el freno en un automóvil que se mueve a velocidad constante, se aplica
            una fuerza neta que disminuye la velocidad del automóvil y eventualmente lo detiene. </p>
    </div>

    <div>
        <strong style="color:white;">¿Por qué un objeto más pesado requiere más fuerza para moverse que un objeto más liviano?  </strong>
        <p style="color:white;">Un objeto más pesado requiere más fuerza para moverse que un objeto más liviano debido a la segunda ley de Newton, también conocida como la ley de la fuerza. Esta ley establece que la fuerza necesaria para acelerar un objeto es directamente proporcional
            a la masa del objeto. Por lo tanto, un objeto más pesado requerirá más fuerza para acelerar a la misma tasa que un objeto más liviano. </p>
    </div>

    <div>
        <strong style="color:white;">¿Cómo se relaciona la segunda ley de Newton con la aceleración de un objeto? </strong>
        <p style="color:white;">
            La celeración de un objeto es directamente proporcional a la fuerza neta aplicada y es inversamente proporcional a su masa. Entonces, si se aplica una fuerza neta a un objeto, su aceleración aumentará.</p>
    </div>

    <div>
        <strong style="color:white;">¿Por qué la tercera ley de Newton es importante para entender cómo funcionan las máquinas? </strong>
        <p style="color:white;">
            Es importante para entender cómo funcionan las máquinas porque las máquinas utilizan el principio de la acción y la reacción para realizar trabajo. Al aplicar una fuerza en una dirección, se genera una reacción en la dirección opuesta que se puede aprovechar
            para realizar trabajo.
        </p>

    </div>

    <div>
        <strong style="color:white;">¿Cómo se puede aplicar la tercera ley de Newton al diseño de cohetes y otros vehículos espaciales?  </strong>
        <p style="color:white;">
            Porque estos vehículos funcionan mediante la expulsión de masa en una dirección, lo que genera una reacción en la dirección opuesta. Esta acción y reacción permite a los vehículos acelerar y mantener su movimiento en el espacio.
        </p>
    </div>

    <div>
        <strong style="color:white;">Si un objeto se mueve en un círculo a una velocidad constante, ¿cuál es la fuerza que lo mantiene en movimiento según las leyes de Newton?   </strong>
        <p style="color:white;">
            Si un objeto se mueve en un círculo a una velocidad constante, la fuerza que lo mantiene en movimiento según las leyes de Newton es la fuerza centrípeta.
        </p>
    </div>

    <div>
        <strong style="color:white;">¿Por qué un objeto en caída libre experimenta una aceleración constante según las leyes de Newton? </strong>
        <p style="color:white;">
            Debido a la segunda ley de Newton. La fuerza neta en un objeto en caída libre es su peso, que es igual a su masa multiplicada por la gravedad. Debido a que la masa es constante, la aceleración del objeto en caída libre es constante y está determinada
            por la gravedad.
        </p>
    </div>


</div>