<div class="container">
    <br/>
    <br/>

    <div class="row">
        <div>
            <div class="card" style="width: 50rem; height: 20rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg/220px-Bendixen_-_Carl_Friedrich_Gau%C3%9F%2C_1828.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gauss</h5>
                    <p class="card-text">Cuestionario numero 1 sobre la ley de Gauss y sus aplicaciones</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

    </div>




</div>