<div class="container">
    <h1 class="infoTitulo"> Ley de Coulomb</h1>

    <h5 style="color: white;">
        Las tres leyes de Newton, también conocidas como las leyes del movimiento, son las siguientes
    </h5>

    <br/>
    <ul>
        <li style="color:white;">
            La ley de Coulomb establece la relación matemática entre la magnitud de la fuerza eléctrica entre dos cargas puntuales y las características de las cargas y la distancia entre ellas. La carga eléctrica es una propiedad de las partículas subatómicas que
            les permite interactuar mediante la fuerza eléctrica.
        </li>
        <br/>
        <li style="color:white;">
            La ley de Coulomb establece que la fuerza eléctrica entre dos cargas puntuales es directamente proporcional al producto de las cargas e inversamente proporcional al cuadrado de la distancia entre ellas. Esto significa que a medida que las cargas se acercan,
            la fuerza eléctrica entre ellas aumenta, y a medida que se separan, la fuerza disminuye.
        </li>
        <br/>
        <li style="color:white;">
            La ley de Coulomb es fundamental en la física eléctrica y es esencial para entender cómo funcionan los circuitos eléctricos, así como para comprender el comportamiento de las partículas cargadas en campos eléctricos y magnéticos.
        </li>
        <br/>
        <li style="color:white;">
            <img src="https://s1.significados.com/foto/imagen1_sm.png">
        </li>
    </ul>

    <div>
        <strong style="color:white;"></strong>
        <p style="color:white;">
            A continuación, se muestra el paso a paso para aplicar la Ley de Coulomb:
        </p>
        <br/>
        <ul style="color:white;">
            <li>
                Determina la magnitud y el signo de cada carga eléctrica.
            </li>
            <li>
                Calcula la distancia entre las dos cargas eléctricas.
            </li>
            <li>
                Calcula la fuerza eléctrica entre las dos cargas eléctricas utilizando la fórmula de la Ley de Coulomb.
            </li>
            <li>
                Asegúrate de que las unidades estén en el sistema SI (Sistema Internacional de Unidades).
            </li>
            <li>
                Si las cargas eléctricas son del mismo signo, la fuerza eléctrica será repulsiva, es decir, las dos cargas se alejarán entre sí. Si las cargas eléctricas son de signos opuestos, la fuerza eléctrica será atractiva, es decir, las dos cargas se acercarán
                entre sí.
            </li>
        </ul>
        <br/>
        <p style="color:white;">
            Es importante recordar que la Ley de Coulomb solo es válida para cargas eléctricas puntuales, es decir, cargas eléctricas que se consideran concentradas en un solo punto. Si las cargas eléctricas tienen una distribución de carga más compleja, se deben
            utilizar otras leyes y conceptos de la electrostática.
        </p>
        <br/>
        <strong style="color:white;"> Campo y Potencial Eléctrico </strong>
        <p style="color:white;">
            La Ley de Gauss se utiliza para calcular el flujo eléctrico a través de superficies cerradas que contienen una carga eléctrica neta. Algunas aplicaciones prácticas de la Ley de Gauss incluyen:
        </p>
        <br/>
        <ul style="color:white;">
            <li>
                Calcular el campo eléctrico generado por cargas distribuidas en formas simétricas como esferas, cilindros y planos.
            </li>
            <li>
                Determinar la carga eléctrica contenida dentro de una superficie cerrada, midiendo el flujo eléctrico a través de la superficie.
            </li>
            <li>
                Calcular el campo eléctrico en el interior de conductores eléctricos en equilibrio electrostático.
            </li>
        </ul>

    </div>



</div>