<div class="container">

    <!--Pregnta numero 1-->

    <div *ngIf="numeroPregunta == 1">

        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 1</h1>
            <p class="mb-4 estiloRespueta"> Es una superficie imaginaria que rodea a la distribución de carga. Se elige de tal manera que la geometría de la superficie sea lo más simple posible para facilitar el cálculo del campo eléctrico</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Superficie Gaussiana</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Superficie de carga</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Superficie de Friccion</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Todas las anteriores</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>





        <!-- <button type="submit" class="btn btn-primary" (click)="validarRespueta()">Enviar</button>-->

    </div>

    <!--<div *ngIf="numeroPregunta == 1">
        <p class="estiloPreguntas">Cual es la respuesta correcta(A)</p>

        <input class="form-check-input" type="radio" value="1" name="pregunta1" (change)="cambiarCheck($event)">
        <label class="form-check-label" class="estiloRespueta">respueta 1</label>
        <br/>
        <input class="form-check-input" type="radio" value="2" name="pregunta1" (change)="cambiarCheck($event)">
        <label class="form-check-label" class="estiloRespueta">respueta 2</label>
        <br/>
        <input class="form-check-input" type="radio" value="3" name="pregunta1" (change)="cambiarCheck($event)">
        <label class="form-check-label" class="estiloRespueta">respueta 3</label>
        <br/>
        <input class="form-check-input" type="radio" value="4" name="pregunta1" (change)="cambiarCheck($event)">
        <label class="form-check-label" class="estiloRespueta">respueta 4</label>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary" (click)="validarRespueta()">Enviar</button>

    </div>-->

    <!--Pregnta numero 2-->
    <div *ngIf="numeroPregunta == 2">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 2</h1>
            <p class="mb-4 estiloRespueta">es una medida de la cantidad de líneas de campo eléctrico que atraviesan una superficie. Se representa por la letra griega Phi (Φ) y su unidad es el voltio metro (V.m)</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">flujo magnetico</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">flujo eléctrico</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Corriente</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Ninguna de las anteriores</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 3-->
    <div *ngIf="numeroPregunta == 3">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 3</h1>
            <p class="mb-4 estiloRespueta">Es una propiedad de los condensadores que se define como la capacidad de almacenar carga eléctrica. Los condensadores están compuestos por dos conductores (placas) separados por un dieléctrico (material aislante), y la carga se almacena en
                las placas.</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Aceleracion centripeta</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Magnetismo</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Condensador</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Capacitancia</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 4-->
    <div *ngIf="numeroPregunta == 4">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 4</h1>
            <p class="mb-4 estiloRespueta">es un dispositivo que está diseñado para almacenar carga eléctrica. Se compone de dos placas conductoras que están separadas por un material dieléctrico (un material no conductor).</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Condensadores</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Tester</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Amperimetro</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Todo tipo de cargas</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 5-->
    <div *ngIf="numeroPregunta == 5">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 5</h1>
            <p class="mb-4 estiloRespueta">¿Cómo se mide la capacitancia?</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">En Voltios</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">En Ohmios</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">En m/s</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">En Faradios</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 6-->
    <div *ngIf="numeroPregunta == 6">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 6</h1>
            <p class="mb-4 estiloRespueta">Las ondas pueden ser: </p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Mecanicas y magneticas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Electromécanicas y electromagnéticas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">mecánicas o electromagnéticas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Ninguna de las anteriores</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 7-->
    <div *ngIf="numeroPregunta == 7">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 7</h1>
            <p class="mb-4 estiloRespueta">Son aquellas ondas que requieren un medio material para propagarse</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Ondas mecánicas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Ondas electricas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Ondas electromagneticas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Todas son correctas</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 8-->
    <div *ngIf="numeroPregunta == 8">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 8</h1>
            <p class="mb-4 estiloRespueta">Son ondas que pueden propagarse a través del espacio vacío, como las ondas de radio, las microondas y la luz</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Ondas electricas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Ondas electromagnéticas </button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Ondas de luz</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Ninguna es correcta</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 9-->
    <div *ngIf="numeroPregunta == 9">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 9</h1>
            <p class="mb-4 estiloRespueta">pueden reflejarse, refractarse y difractarse cuando encuentran una superficie o un borde </p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Diamantes</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Cristales de quarzo</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Ondas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Todas las anteriores</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <!--Pregnta numero 10-->
    <div *ngIf="numeroPregunta == 10">
        <div class="container mt-4">
            <h1 class="mb-4 estiloPreguntas">Pregunta 10</h1>
            <p class="mb-4 estiloRespueta">es una ley fundamental de la física que establece la relación entre la distribución de carga eléctrica y el campo eléctrico que produce en el espacio circundante</p>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(1)">Ley de Gauss</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(2)">Ley de gravitacion universal</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(3)">Ley de Coulomb.</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary w-100" (click)="cambiarCheck(4)">Tercera ley de Newton</button>
                </div>
            </div>
            <br/>
            <button class="btn btn-success mt-4" (click)="validarRespueta()">Enviar respuesta</button>
        </div>

    </div>

    <div *ngIf="numeroPregunta > 10">
        <p style="color:white">Resultado Final</p>

        <div class="row" *ngIf="numeroPregunta > 10 && puntaje <= 6">
            <div class="col-md-12 text-center">
                <h1 style="color:white">¡Has perdido!</h1>
                <img src="https://us.123rf.com/450wm/romastudio/romastudio1905/romastudio190500048/123396236-la-mano-del-hombre-muestra-el-pulgar-hacia-abajo-aislado-sobre-fondo-blanco-concepto-negativo-de.jpg?ver=6" alt="Imagen perdido" class="img-fluid">
                <p>Inténtalo de nuevo</p>
                <a [routerLink]="['/Cuestionarios']" class="btn btn-primary">Volver a intentarlo</a>
            </div>
        </div>

        <div class="row" *ngIf="numeroPregunta > 10 && puntaje >= 7">
            <div class="col-md-12 text-center">
                <h1 style="color:white">¡Has Ganado!</h1>
                <img src="https://thumbs.dreamstime.com/b/mano-de-mujer-con-el-pulgar-hacia-arriba-aislado-sobre-fondo-blanco-174869555.jpg" alt="Imagen perdido" class="img-fluid">
                <p>Inténtalo de nuevo</p>
                <a [routerLink]="['/Cuestionarios']" class="btn btn-primary">Volver a intentarlo</a>
            </div>
        </div>

    </div>

    <div class="container" style="margin-top: 20px;">
        <p class="estiloRespueta">Puntaje: {{puntaje}}</p>
    </div>
</div>