<div class="container">
    <h1 class="infoTitulo">Campo y Potencial Eléctrico </h1>

    <h5 style="color: white;">
        La Ley de Gauss se utiliza para calcular el flujo eléctrico a través de superficies cerradas que contienen una carga eléctrica neta. Algunas aplicaciones prácticas de la Ley de Gauss incluyen:
    </h5>

    <br/>
    <ul>
        <li style="color:white;">
            Calcular el campo eléctrico generado por cargas distribuidas en formas simétricas como esferas, cilindros y planos.
        </li>
        <li style="color:white;">
            Determinar la carga eléctrica contenida dentro de una superficie cerrada, midiendo el flujo eléctrico a través de la superficie.
        </li>
        <li style="color:white;">
            Calcular el campo eléctrico en el interior de conductores eléctricos en equilibrio electrostático.
        </li>
    </ul>
    <br/>
    <h3 class="infoTitulo">Potencial Eléctrico </h3>

    <div>
        <p style="color:white;">
            El potencial eléctrico es una medida de la energía potencial eléctrica por unidad de carga eléctrica en un punto en el espacio. Se puede pensar en el potencial eléctrico como la energía que tendría una carga eléctrica si estuviera ubicada en un punto
            específico en el espacio.
        </p>

        <p style="color:white;">
            El potencial eléctrico se mide en voltios (V) y se define como el trabajo que se debe realizar para mover una carga eléctrica desde un punto de referencia hasta el punto en cuestión, dividido por la carga eléctrica. El punto de referencia se toma generalmente
            como el infinito, donde el potencial eléctrico es cero.
        </p>

        <p style="color:white;">
            La fórmula matemática del potencial eléctrico V en un punto P debido a una carga Q en un punto O se expresa como: <strong>V = kQ/r </strong>
        </p>

        <p style="color:white;">
            También se puede expresar el potencial eléctrico en términos del campo eléctrico E en el punto P mediante la siguiente fórmula: <strong>V = - ∫E · dr  </strong>
        </p>

        <p style="color:white;">Donde</p>

        <ul style="color:white;">
            <li>∮E · dA es el flujo eléctrico a través de la superficie cerrada. </li>
            <li>E es el campo eléctrico en cualquier punto de la superficie. </li>
            <li>dA es un elemento de área en la superficie. </li>
            <li>Q es la carga eléctrica neta contenida dentro de la superficie cerrada. </li>
            <li>ε₀ es la constante eléctrica del vacío, que tiene un valor de aproximadamente 8.85 x 10^-12 F/m.</li>
        </ul>

        <p style="color:white;">
            Aquí hay una descripción paso a paso de la ley de Gauss:
        </p>

        <ul>
            <li style="color:white;">
                En primer lugar, se considera una distribución de carga eléctrica en el espacio. Esto puede ser una carga puntual, una carga distribuida uniformemente o una carga arbitraria.
            </li>
            <li style="color:white;">
                A continuación, se define una superficie imaginaria que rodea a la distribución de carga. Esta superficie se conoce como superficie gaussiana y se elige de tal manera que la geometría de la superficie sea lo más simple posible para facilitar el cálculo
                del campo eléctrico.
            </li>
            <li style="color:white;">
                A continuación, se calcula el flujo eléctrico a través de la superficie gaussiana. El flujo eléctrico es una medida de la cantidad de líneas de campo eléctrico que atraviesan la superficie gaussiana.
            </li>
            <li style="color:white;">
                La ley de Gauss establece que el flujo eléctrico total a través de cualquier superficie gaussiana cerrada es proporcional a la carga eléctrica encerrada dentro de la superficie. En otras palabras, el flujo eléctrico a través de una superficie gaussiana
                es igual a la carga eléctrica encerrada dentro de esa superficie dividida por la constante dieléctrica del medio en el que se encuentra la carga.
            </li>
        </ul>

        <p style="color:white;">
            Finalmente, se utiliza la ley de Gauss para calcular el campo eléctrico en cualquier punto en el espacio circundante a la distribución de carga. Si se conoce la carga eléctrica encerrada dentro de una superficie gaussiana, entonces se puede calcular el
            campo eléctrico en cualquier punto de esa superficie utilizando la ley de Gauss.
        </p>
    </div>

    <div>
        <h4 style="color:white;">
            <strong>Preguntas</strong>
        </h4>
    </div>

    <div>
        <strong style="color:white;">¿Qué es la ley de Gauss? </strong>
        <p style="color:white;">
            La ley de Gauss es una ley fundamental de la física que establece la relación entre la distribución de carga eléctrica y el campo eléctrico que produce en el espacio circundante.
        </p>
    </div>

    <div>
        <strong style="color:white;">¿Cómo se utiliza la ley de Gauss para calcular el campo eléctrico?  </strong>
        <p style="color:white;">
            Se utiliza la ley de Gauss para calcular el campo eléctrico en cualquier punto en el espacio circundante a la distribución de carga. Si se conoce la carga eléctrica encerrada dentro de una superficie gaussiana, entonces se puede calcular el campo eléctrico
            en cualquier punto de esa superficie utilizando la ley de Gauss.
        </p>
    </div>

    <div>
        <strong style="color:white;">¿Qué es una superficie gaussiana? </strong>
        <p style="color:white;">
            Una superficie gaussiana es una superficie imaginaria que rodea a la distribución de carga. Se elige de tal manera que la geometría de la superficie sea lo más simple posible para facilitar el cálculo del campo eléctrico.
        </p>
    </div>

    <div>
        <strong style="color:white;">¿Qué es el flujo eléctrico? </strong>
        <p style="color:white;">
            El flujo eléctrico es una medida de la cantidad de líneas de campo eléctrico que atraviesan una superficie. Se representa por la letra griega Phi (Φ) y su unidad es el voltio metro (V.m).
        </p>
    </div>

    <div>
        <strong style="color:white;">¿Cómo se calcula el flujo eléctrico a través de una superficie gaussiana? </strong>
        <p style="color:white;">El flujo eléctrico a través de una superficie gaussiana se calcula mediante la integral de superficie del producto punto del campo eléctrico y el vector normal a la superficie.
        </p>
    </div>
</div>